<ion-header>
  <ion-toolbar>
    <ion-title>
      Background Geolocation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expnad="full" (click)="startTraking()">startTraking</ion-button> <br/>
  <ion-button expnad="full" (click)="StopBackgroundGeolocation()">StopBackgroundGeolocation</ion-button> <br/>
  <ion-button expnad="full" (click)="Geolocations()">Geolocations</ion-button> <br/>
  <ion-button expnad="full" (click)=" ClearLocations()"> ClearLocations</ion-button> <br/>
 

  <ion-list *ngFor="let location of locations">
    <ion-item>
      <ion-label><b>Latitude: {{location.latitude}}</b></ion-label>
    </ion-item>

    <ion-item>
        <ion-label><b>Longitude: {{location.longitude}}</b></ion-label>
    </ion-item>

    <ion-item>
        <ion-label><b>Speed: {{location.speed}}</b></ion-label>
    </ion-item>

    <ion-item>
        <ion-label><b>Time: {{location.time}}</b></ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
